__pycache__

attention_monitoring/src/data/*
!attention_monitoring/src/data/README.MD

attention_monitoring/sandbox.ipynb

attention_monitoring/lib/*
!openvibe
!README.MD

attention_monitoring/config.yaml

attention_monitoring/src/tools/muse_sync/sync_session_data/*
attention_monitoring/src/tools/muse_sync/sync_results
attention_monitoring/src/tools/muse_sync/untitled*
attention_monitoring/src/tools/muse_sync/soundDemo.m
attention_monitoring/main.ipynb
attention_monitoring/main.py
attention_monitoring/sandbox.py
